/* Resetting default margin and padding for all elements */
body, h1, h2, h3, p, ul, li, form, label, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.main h1 {
    color: #299dd6;
}
.content {
    display: flex;
}

.aside{
    padding-top: 120px;
}

.aside ul {
    list-style: none;
}

.email {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.email h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #0056b3;
}
