/*page home */
:route{
    --green:#02724d;
    --blue:#299dd6;
    --gray:#7f7f7f00;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.content{
    width:100%;
    background-color: white;
    justify-content: space-between;
}
.aside{
    padding-top: 70px;
    width:20%;
    background: #e9e9e9;
    height: 143vh;
    position: fixed;
    margin-top: -119px;
}
.aside ul li a{
    text-decoration: none;
    color:#299dd6;
    padding: 10px;
    border-radius: 20px;
}
    
.aside ul li a:hover{
    background-color: #014669;
    transition: all ease 1s ;
    color: white;
}
.aside ul li {
    padding: 40px 50px;
}
.main{
    width:70%;
    height: 100vh;
    margin :5%;


}
.main img{
    width:30%;
    height: 60%;
    float: right;
    margin-right: -30%;
    border-radius: 50 px 0 px;
    border-radius: 0px 50px ;    
}
.aaa{
    width: 70%;
}
.name{
    margin-top: 15%;
    margin-left: 40%;
}
.ans{
    margin-top: 5px;
    margin-left: 45% ;
    
}
.student-info{
    margin-left: 45% ;
    color: #ec1839;
}
.texte {
    margin-top: 5px;
    margin-left: 45% ;   
}
/* about me*/

.parent {
    width: 85%;
    margin-left: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 70px;
}
.parent1 {
    width: 85%;
    margin-left: 230px;
    display: flex;
    justify-content: space-around;
}
.parcours ,.competences{
    width: 40%;
    line-height: 30px;
}
.competences ,.langue{
    margin-right: 90px;
}
.qualite , .langue{
    width: 40%;
    margin-top: 40px;
}

/* .parcours h1 {
   
    color: #ec1839;    
}
.parcours ul  {
    margin-top: 2px;
    margin-left: 65% ;
}
.parcours h3 {
    margin-top: 2px;
    margin-left: 70% ;
} */

.competences h3 {
 
    color: #299dd6;   
 }
.qualite h3 {
 
    color: #299dd6;   
}
.langue h3 {
 
    color: #299dd6;    
 }
.parcours h3 {
 
    color: #299dd6;    
}
.qualite ul  {
    margin-top: 2px;
    margin-left: 1px ;
}
.qualite li  {
    margin-top: 10px;
    margin-left: 40px ;
}
.stages h2 {
    color: #299dd6;  
}
.projet h2{
    color: #299dd6;  
} 
